body{
  background-image: url(https://images.hdqwalls.com/download/simple-subtle-abstract-dark-minimalism-4k-u9-1360x768.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  height: 100%; /* Fixes background img cutting off after like body would end normally */
}

.parent {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center items horizontally */
  margin: 0;
  overflow: hidden;
}

.header {
  color: aliceblue;
  font-size: 5vw;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.subtitle {
  color: aliceblue;
  font-size: 1vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 50px;
}

/* Width styling n etc for the container DataTable in */
.table-container {
  width: 80%;
  overflow-x: auto;
  margin-bottom: 50px;
}

/* Moves "footer" to the top, cuz footer is actually where category specific search inputs are located */
tfoot {
  display: table-header-group;
}

/* Bottom white line below all mapart rows */
table.dataTable {
  border-bottom: 2px solid white !important;
}

/* Top white line right above category specific search inputs, and removes barely visible outline around order a-z/z-a buttons/area */
table.dataTable thead th {
  border-bottom: 2px solid white !important;
  outline: none !important;
}

/* Makes the dropdown arrow see other column info about mapart fully white, instead of black default in dark mode */
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    border-left:10px solid rgba(255, 255, 255, 1);
}

table.dataTable.dtr-inline.collapsed>tbody>tr.dtr-expanded>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.dtr-expanded>th.dtr-control:before {
  border-top:10px solid rgba(255, 255, 255, 1);
}

/* Makes the next/previous page buttons where there isnt a page to go grey instead of pure black */
div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button.disabled:hover,
div.dt-container .dt-paging .dt-paging-button.disabled:active {
  color:rgba(100, 100, 100, 1) !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with transparency */
}

/* Modal Content (the image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
}

/* Caption of the image */
#caption {
  margin: auto;
  display: block;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

/* Add Animation */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Adjust dip for smaller screens/mobile */
@media (max-width: 768px) {

   /* Full width on mobile */
  .table-container {
      width: 100%;
  }

  /* Without this subtitle (Maintained by raining text) is like ridiculously small */
  .subtitle {
      font-size: 4vw;
  }

  /* Reduce image/mapart size */
  #mapartTable img {
      width: 80px;
  }
}